<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Desktop Builder</title>
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css') }}"/>
        <script src="{{ url_for('static', filename='func.js') }}"></script>
        <link href="https://fonts.googleapis.com/css?family=Gaegu|Varela+Round|Open+Sans|Poiret+One" rel="stylesheet">
    </head>

    <body>

        <div class = "title">
            <b class = "remine">Desktop Builder</b>
        </div>

        <div class = "input">

            <div class = "intro">
                <p id = "intro_title" class = "intro_title"></p>
                <p class = "intro_para">This is a demo of novel open IE system—ReMine. It integrates local context signal and global structural signal in a unified framework with distant supervision. The input is corpus. The outputs will return relation tuples. Experiments on two real-world corpora of different domains demonstrate that ReMine system achieves superior precision when outputting same number of extractions, compared with several state-of-the-art open IE systems.</p>
            </div>

            <div class = "selector">
                <a class = "select">Pick a sample here!</a>
                <select id = "selection" class = "select">
                    <option value = "s1">sample 1</option>
                    <option value = "s2">sample 2</option>
                    <option value = "s3">sample 3</option>
                </select>
            </div>

            <div class = "textInput">
                <textarea id = "inText" type = "text" name = "corpus" class = "textFrame"></textarea>
                <a class = "button" onclick="submitCorpus()">Run the Model</a>
            </div>

        </div>


    </body>

</html>